

svg {
	height: 100px;
}

td {
    width: 15%;
}

.state_name {
	width: 1%;
	text-align: right;
}

.key .key-item b { 
 width: 15px;
 height: 15px;
 margin-right: 6px;
 float: left;
}

.key-0 b, .yes, svg .yes path, .yes, svg path.yes {
 background: rgba(166, 206, 227, 0.25); 
 fill: rgba(166, 206, 227, .75); 
}

svg .exemption path, .exemption, svg path.exemption, .key-1 b {
 background: rgba(178, 223, 138, 0.25); 
 fill: rgba(178, 223, 138, .75); 
}

.key-2 b, .no, svg path.no, svg .no path {
 background-color: #eee;
 fill: #ddd;
}

.exemption, .yes, .no {
  text-align: center;
  border-right: 1px solid #ddd;
}

